{% extends '@PMDFrontend/Document/basic.html.twig' %}

{% import '@PMDFrontend/macros.html.twig' as macro %}


{% block document %}
    {%- set document = document + {
        class: '',
        attrs: {},
        head_class: '',
        head_attrs: {},
        body_class: '',
        body_attrs: {},
    } -%}

    <!doctype html>
    <html{{ macro.tag_attrs(document.attrs, document.class) }}>

    {{ parent() }}

    </html>
{% endblock %}

{% block document_content %}
    {{ block('document_head') }}

    {{ parent() }}
{% endblock %}

{% block document_head %}
    <head{{ macro.tag_attrs(document.head_attrs, document.head_class) }}>
        {{ block('document_metadata') }}
        <title>{{ block('document_title') }}</title>
        {{ block('document_links') }}
        {{ block('document_javascripts') }}
        {{ block('document_stylesheets') }}
        {{ block('document_head_content') }}
    </head>
{% endblock %}

{% block document_metadata %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block document_title %}{% endblock %}

{% block document_links %}
    <link type="image/x-icon" rel="icon" href="{{ asset('favicon.ico') }}">
{% endblock %}

{% block document_javascripts %}{% endblock %}

{% block document_stylesheets %}{% endblock %}

{% block document_head_content %}{% endblock %}

{% block document_body %}
    <body{{ macro.tag_attrs(document.body_attrs, document.body_class) }}>
        {{ parent() }}
    </body>
{% endblock %}
