{% extends '@PMDFrontend/Block/basic.html.twig' %}
{% use '@PMDFrontend/blocks.html.twig' %}

{% set block_header_attrs = block_header_attrs|default({}) %}
{% set block_title_tag = block_title_tag|default('h1') %}
{% set block_title_attrs = block_title_attrs|default({}) %}
{% set block_body_attrs = block_body_attrs|default({}) %}
{% set block_footer_attrs = block_footer_attrs|default({}) %}

{% set _block_title = block('title')|trim %}
{% set _block_header = block('header')|trim %}
{% set _block_footer = block('footer')|trim %}

{% block _block_content %}
    {{ block('_block_header') }}

    {{ parent() }}

    {{ block('_block_footer') }}
{% endblock %}

{% block _block_header %}
    {% if _block_title is not empty or _block_header is not empty %}
        {% set attrs = block_header_attrs %}
        {% set class = 'block-header' %}

        <header{{ block('html_attrs') }}>
            {% block _block_header_content %}
                {{ block('_block_title') }}

                {{ _block_header|raw }}
            {% endblock %}
        </header>
    {% endif %}
{% endblock %}

{% block _block_title %}
    {% if _block_title is not empty %}
        {% set attrs = block_title_attrs %}
        {% set class = 'block-title' %}

        <{{ block_title_tag }}{{ block('html_attrs') }}>
            {% block _block_title_content %}
                {{ _block_title|raw }}
            {% endblock %}
        </{{ block_title_tag }}>
    {% endif %}
{% endblock %}

{% block _block_body %}
    {% set attrs = block_body_attrs %}
    {% set class = 'block-body' %}

    <div{{ block('html_attrs') }}>
        {{ parent() }}
    </div>
{% endblock %}

{% block _block_footer %}
    {% if _block_footer is not empty %}
        {% set attrs = block_footer_attrs %}
        {% set class = 'block-footer' %}

        <footer{{ block('html_attrs') }}>
            {% block _block_footer_content %}
                {{ _block_footer|raw }}
            {% endblock %}
        </footer>
    {% endif %}
{% endblock %}
