{% extends '@PMDFrontend/Block/basic.html.twig' %}
{% use '@PMDFrontend/blocks.html.twig' %}

{% set block_header_attrs = block_vars.header_attrs|default({}) %}
{% set block_header = block('header')|trim %}
{% set block_title_tag = block_vars.title_tag|default('h1') %}
{% set block_title_attrs = block_vars.title_attrs|default({}) %}
{% set block_title = block_vars.title|default(block('title'))|trim %}
{% set block_body_attrs = block_vars.body_attrs|default({}) %}
{% set block_footer_attrs = block_vars.footer_attrs|default({}) %}
{% set block_footer = block('footer')|trim %}

{% block block_content %}
    {{ block('block_header') }}

    {{ parent() }}

    {{ block('block_footer') }}
{% endblock %}

{% block block_header %}
    {% if block_title is not empty or block_header is not empty %}
        {% set attrs = block_header_attrs %}
        {% set class = 'block-header' %}

        <header{{ block('html_attrs') }}>
            {% block block_header_content %}
                {{ block('block_title') }}

                {{ block_header|raw }}
            {% endblock %}
        </header>
    {% endif %}
{% endblock %}

{% block block_title %}
    {% if block_title is not empty %}
        {% set attrs = block_title_attrs %}
        {% set class = 'block-title' %}

        <{{ block_title_tag }}{{ block('html_attrs') }}>
            {% block block_title_content %}
                {{ block_title|raw }}
            {% endblock %}
        </{{ block_title_tag }}>
    {% endif %}
{% endblock %}

{% block block_body %}
    {% set attrs = block_body_attrs %}
    {% set class = 'block-body' %}

    <div{{ block('html_attrs') }}>
        {{ parent() }}
    </div>
{% endblock %}

{% block block_footer %}
    {% if block_footer is not empty %}
        {% set attrs = block_footer_attrs %}
        {% set class = 'block-footer' %}

        <footer{{ block('html_attrs') }}>
            {% block block_footer_content %}
                {{ block_footer|raw }}
            {% endblock %}
        </footer>
    {% endif %}
{% endblock %}
