{% extends '@PMDFrontend/Block/basic.html.twig' %}

{% import '@PMDFrontend/macros.html.twig' as macro %}


{% block block %}
    {% set block_tag = block_vars.tag|default('section') %}

    {% set block_header_class = block_vars.header_class|default('block-header') %}
    {% set block_header_attrs = block_vars.header_attrs|default({}) %}
    {% set block_header = block('header')|trim %}

    {% set block_title_tag = block_vars.title_tag|default('h1') %}
    {% set block_title_class = block_vars.title_class|default('block-title') %}
    {% set block_title_attrs = block_vars.title_attrs|default({}) %}
    {% set block_title = block_vars.title|default(block('title'))|trim %}

    {% set block_body_class = block_vars.body_class|default('block-body') %}
    {% set block_body_attrs = block_vars.body_attrs|default({}) %}

    {% set block_footer_class = block_vars.footer_class|default('block-footer') %}
    {% set block_footer_attrs = block_vars.footer_attrs|default({}) %}
    {% set block_footer = block('footer')|trim %}

    {{ parent() }}
{% endblock %}

{% block block_content %}
    {{ block('block_header') }}

    {{ parent() }}

    {{ block('block_footer') }}
{% endblock %}

{% block block_header %}
    {% if block_title is not empty or block_header is not empty %}
        <header{{ macro.tag_attrs(block_header_attrs, block_header_class) }}>
            {{ block('block_header_content') }}
        </header>
    {% endif %}
{% endblock %}

{% block block_header_content %}
    {{ block('block_title') }}

    {{ block_header|raw }}
{% endblock %}

{% block block_title %}
    {% if block_title is not empty %}
        <{{ block_title_tag }}{{ macro.tag_attrs(block_title_attrs, block_title_class) }}>
            {{ block('block_title_content') }}
        </{{ block_title_tag }}>
    {% endif %}
{% endblock %}

{% block block_title_content %}
    {{ block_title|raw }}
{% endblock %}

{% block block_body %}
    <div{{ macro.tag_attrs(block_body_attrs, block_body_class) }}>
        {{ parent() }}
    </div>
{% endblock %}

{% block block_footer %}
    {% if block_footer is not empty %}
        <footer{{ macro.tag_attrs(block_footer_attrs, block_footer_class) }}>
            {{ block('block_footer_content') }}
        </footer>
    {% endif %}
{% endblock %}

{% block block_footer_content %}
    {{ block_footer|raw }}
{% endblock %}
